{{- if and (not .Values.existingSecret) (include "proxy.hasSecretEnv" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "proxy.fullname" . }}
  labels:
    {{- include "proxy.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range $key, $val := .Values.secretEnv }}
  {{ $key }}: "{{ $val }}"
  {{- end }}
{{- end }}
